/csdl-to-json-convertor/json
/csdl-to-json-convertor/metadata
/csdl-to-json-convertor/csdl
/*/__pycache__
.DS_Store
*.pyc
redfish-repo-test/node_modules/
redfish-repo-test/package-lock.json
.vs/
doc-generator/.idea/
