* {
    margin: 0;
    padding: 0;
}

body {
    font: 0.8125em Helvetica, sans-serif;
    color: #222;
    background: #FFF;
    width: 90%;
    margin: 2em auto;
}

h1,
h3,
h4 {
    margin: 1em 0 .5em;
}

h2 {
    margin: 2em 0 .5em;
}

h3 {
    border-bottom: 1px solid #000000
}

h4 {
    text-decoration: underline #000000
}

ul,
ol {
    margin-left: 2em;
}

li {
    margin: 0 0 0.5em;
    word-break: break-all;
}

.hanging-indent {
    padding-left: 1em;
    text-indent: -1em;
}

p {
    margin: 0 0 0.5em;
}

div.toc {
    margin: 0 0 2em 0;
}

.toc ul {
    list-style-type: none;
}

ul.nobullet {
    list-style-type: none
}

table {
    max-width: 100%;
    width: 100%;
    background-color: transparent;
    border-collapse: separate;
    border-spacing: 0;
    margin-bottom: 1.25em;
    border: 1px solid #999999;
    border-width: 0 1px 1px 0;
}

td,
th {
    padding: .5em;
    text-align: left;
    vertical-align: top;
    border: 1px solid #999999;
    border-width: 1px 0 0 1px;
}

th {
    background-color: #ececec;
}

table.properties {
    width: 100%;
}

table.uris tr td:nth-child(2) {
    word-break: break-all;
}

.property-details-content {
    margin-left: 5em;
}

/* Code font */
pre.code {
    font-size: 1em;
    margin-left: 5em;
    color: #0000FF
}

/* Background color */
.codehilite .hll {
    background-color: #ffffcc
}

/* Background */
.codehilite {
    background: #f8f8f8;
}

/* Comment - Italic */
.codehilite .c {
    color: #408080;
    font-style: italic
}

/* Error */
.codehilite .err {
    border: 1px solid #FF0000
}

/* Keyword */
.codehilite .k {
    color: #008000;
    font-weight: bold
}

/* Operator */
.codehilite .o {
    color: #666666
}

/* Comment.Hashbang */
.codehilite .ch {
    color: #408080;
    font-style: italic
}

/* Comment.Multiline */
.codehilite .cm {
    color: #408080;
    font-style: italic
}

/* Comment.Preproc */
.codehilite .cp {
    color: #BC7A00
}

/* Comment.PreprocFile */
.codehilite .cpf {
    color: #408080;
    font-style: italic
}

/* Comment.Single */
.codehilite .c1 {
    color: #408080;
    font-style: italic
}

/* Comment.Special */
.codehilite .cs {
    color: #408080;
    font-style: italic
}

/* Comment.Deleted */
.codehilite .gd {
    color: #A00000
}

/* Generic.Emphasis */
.codehilite .ge {
    font-style: italic
}

/* Generic.Error */
.codehilite .gr {
    color: #FF0000
}

/* Generic.Heading */
.codehilite .gh {
    color: #000080;
    font-weight: bold
}

/* Generic.Inserted */
.codehilite .gi {
    color: #00A000
}

/* Generic.Output */
.codehilite .go {
    color: #888888
}

/* Generic.Prompt */
.codehilite .gp {
    color: #000080;
    font-weight: bold
}

/* Generic.Strong */
.codehilite .gs {
    font-weight: bold
}

/* Generic.Subheading */
.codehilite .gu {
    color: #800080;
    font-weight: bold
}

/* Generic.Traceback */
.codehilite .gt {
    color: #0044DD
}

/* Generic.Constant */
.codehilite .kc {
    color: #008000;
    font-weight: bold
}

/* Keyword.Declaration */
.codehilite .kd {
    color: #008000;
    font-weight: bold
}

/* Keyword.Namespace */
.codehilite .kn {
    color: #008000;
    font-weight: bold
}

/* Keyword.Pseudo */
.codehilite .kp {
    color: #008000
}

/* Keyword.Reserved */
.codehilite .kr {
    color: #008000;
    font-weight: bold
}

/* Keyword.Type */
.codehilite .kt {
    color: #B00040
}

/* Literal.Number */
.codehilite .m {
    color: #666666
}

/* Literal.String */
.codehilite .s {
    color: #BA2121
}

/* Name.Attribute */
.codehilite .na {
    color: #7D9029
}

/* Name.Builtin */
.codehilite .nb {
    color: #008000
}

/* Name.Class */
.codehilite .nc {
    color: #0000FF;
    font-weight: bold
}

/* Name.Constant */
.codehilite .no {
    color: #880000
}

/* Name.Decorator */
.codehilite .nd {
    color: #AA22FF
}

/* Name.Entity */
.codehilite .ni {
    color: #999999;
    font-weight: bold
}

/* Name.Exception */
.codehilite .ne {
    color: #D2413A;
    font-weight: bold
}

/* Name.Function */
.codehilite .nf {
    color: #0000FF
}

/* Name.Label */
.codehilite .nl {
    color: #A0A000
}

/* Name.Namespace */
.codehilite .nn {
    color: #0000FF;
    font-weight: bold
}

/* Name.Tag */
.codehilite .nt {
    color: #008000;
    font-weight: bold
}

/* Name.Variable */
.codehilite .nv {
    color: #19177C
}

/* Name.Word */
.codehilite .ow {
    color: #AA22FF;
    font-weight: bold
}

/* Operator.Whitespace */
.codehilite .w {
    color: #bbbbbb
}

/* Literal.Number.Bin */
.codehilite .mb {
    color: #666666
}

/* Literal.Number.Float */
.codehilite .mf {
    color: #666666
}

/* Literal.Number.Hex */
.codehilite .mh {
    color: #666666
}

/* Literal.Number.Integer */
.codehilite .mi {
    color: #666666
}

/* Literal.Number.Oct */
.codehilite .mo {
    color: #666666
}

/* Literal.String.Affix */
.codehilite .sa {
    color: #BA2121
}

/* Literal.String.Backtick */
.codehilite .sb {
    color: #BA2121
}

/* Literal.String.Char */
.codehilite .sc {
    color: #BA2121
}

/* Literal.String.Delimiter */
.codehilite .dl {
    color: #BA2121
}

/* Literal.String.Doc */
.codehilite .sd {
    color: #BA2121;
    font-style: italic
}

/* Literal.String.Double */
.codehilite .s2 {
    color: #BA2121
}

/* Literal.String.Escape */
.codehilite .se {
    color: #BB6622;
    font-weight: bold
}

/* Literal.String.Heredoc */
.codehilite .sh {
    color: #BA2121
}

/* Literal.String.Interpol */
.codehilite .si {
    color: #BB6688;
    font-weight: bold
}

/* Literal.String.Other */
.codehilite .sx {
    color: #008000
}

/* Literal.String.Regex */
.codehilite .sr {
    color: #BB6688
}

/* Literal.String.Single */
.codehilite .s1 {
    color: #BA2121
}

/* Literal.String.Symbol */
.codehilite .ss {
    color: #19177C
}

/* Name.Builtin.Pseudo */
.codehilite .bp {
    color: #008000
}

/* Name.Function.Magic */
.codehilite .fm {
    color: #0000FF
}

/* Name.Variable.Class */
.codehilite .vc {
    color: #19177C
}

/* Name.Variable.Global */
.codehilite .vg {
    color: #19177C
}

/* Name.Variable.Instance */
.codehilite .vi {
    color: #19177C
}

/* Name.Variable.Magic */
.codehilite .vm {
    color: #19177C
}

/* Literal.Number.Integer.Long */
.codehilite .il {
    color: #666666
}
